tweet_mining/apiconfig.ini
fire_detection/yolov7/models/best.pt
accident_detection/yolov7/models/best.pt
fire_detection/color_detection/test_data/7.mp4
fire_detection/yolov7/dataset/test/7.mp4
fire_detection/color_detection/test_data/22.mp4